%meta{charset:'UTF-8'}
%meta{content:'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{content:'width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0', name:'viewport'}
//%link{href:'http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel:'stylesheet', type:'text/css'}
//%link{href:'http://fonts.googleapis.com/css?family=Lobster+Two', rel:'stylesheet', type:'text/css'}
//%link{rel:'stylesheet', href:'http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
//%link{href:'/vendor/OpenSans.css', rel:'stylesheet', type:'text/css'}
//%link{href:'/vendor/LobsterTwo.css', rel:'stylesheet', type:'text/css'}
%link{rel:'stylesheet', href:'/vendor/bootstrap.min.css'}
- if settings.development?
  %script{async:'', src:'//localhost:3000/browser-sync-client.1.3.7.js'}
