%h2
  Signup
%form{role: 'form', action: '/signup', method: 'post'}
  %div{class: 'form-group'}
    %input{class: 'form-control input-lg', type: 'email', name: 'email', placeholder: 'Email'}
  %div{class: 'form-group'}
    %input{class: 'form-control input-lg', type: 'password', name: 'password', placeholder: 'Password'}
  %div{class: 'form-group'}
    %input{class: 'form-control input-lg', type: 'password', name: 'password_confirmation', placeholder: 'Password Confirmation'}
  %input{class: 'btn btn-default', type: 'submit', value:'Signup'}
