%div{class: 'row'}
  %div{class: 'col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6'}
    = haml :'partials/login_form'
  %div{class: 'col-md-offset-2 col-md-4 col-sm-offset-3 col-sm-6'}
    = haml :'partials/signup_form'
