!!!
%html{lang: 'en'}
  %head
    = haml :'partials/head'
    %link{href:'/css/main.css', rel:'stylesheet', type:'text/css'}
    %title RememberThis.Link

  %body
    %header
      %div{class: 'container-fluid'}
        %div{class: 'pull-left'}
          %h2
            %a{href: '/'} RememberThis.Link
        %div{class: 'nav pull-right'}
          - if !current_user
            %a{href: '/login'} Login
            %a{href: '/signup'} Signup
          - else
            %a{href: '/logout'} Logout
    %div{class: 'container-fluid'}
      - if flash[:success]
        %div{style: 'color:green;'}
          = flash[:sucess]
      - if flash[:error]
        %div{style: 'color:red;'}
          = flash[:error]
      = yield
