%div
  %div{class: 'row'}
    %div{class: 'title pull-left'}
      %h2
        \##{tag.text}
    %div{class: 'pull-right'}
      %a{href: "/tags/#{tag.text}/edit"} Edit
  %div{class: 'row'}
    %div{class: 'col-md-12'}
      = haml :'partials/link/list', locals: { links: links }
